{% extends 'facilityapp/index.html' %}
{% load static %}
{% block main %}
  <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    
                         <img src="{% static 'assets/images/logo2.png' %}" alt="HI TECH" title="" style="height: 3.8rem;">
                    
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">HI TECH</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4"><span class="mbri-setting mbr-iconfont mbr-iconfont-btn"></span>
                        
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'about' %}">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                        About Us
                    </a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="log in.html" target="_blank"><span class="mbri-user mbr-iconfont mbr-iconfont-btn"></span>log in</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.info/f">simple website creator</a></section><section class="mbr-section info1 cid-rwpme7yPJE" id="info1-c">

    

    
    <div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                
                <h2 class="align-left mbr-bold mbr-fonts-style display-2">Services.....</h2>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                
            </div>
        </div>
    </div>
</section>

<section class="features4 cid-rwpp6m9NAU" id="features4-d">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
<div>Facilities Audit/Condition Survey</div></h4>
                        <p class="mbr-text mbr-fonts-style display-7">We provide a facility audit/condition survey service aimed at systematically recording inventory and locations of existing facility assets, identifying facility deficiencies and determining the functional performance of building components and infrastructure. The scope includes developing a facility audit/condition survey report, preparing a short term plan for maintenance and repair activities to correct observed deficiencies and identifying and prioritizing capital projects covering major improvements.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">On-site Facilities Management</h4>
                        <p class="mbr-text mbr-fonts-style display-7">We provide maintenance and management of hard and soft services including: electrical, mechanical civil infrastructure, landscaping, grounds, support services etc. The services provided onsite includes: - Regular routine inspection - Identification and rectification of building defects - Occupant relations/interface management - Operating and capital budget and - Strategic and tactical management.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Facilities Management Training</h4>
                        <p class="mbr-text mbr-fonts-style display-7">We provide training according to specific needs of clients to meet identified competency gaps in their in-house FM organisation team. Our courses are designed to help facilities managers develop professionally and support them as they encounter new challenges throughout their career. The scope of the training covers both managerial and supervisory levels.</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features4 cid-rwpp6SOstQ" id="features4-e">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Project/Construction Management</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Our project/construction management service involves the overall planning, coordination and control of a project from inception to completion. Our services are tailored to the size and complexity of any given project – and backed by a corporate commitment to total quality management. The scope includes: - Schedules and budget evaluations - Value engineering - Accuracy checks on cost estimates - Weighing project alternatives - Monitoring and - Coordination of project</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Procurement Management</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Our procurement management service helps to build efficiency into your procurement process by delivering a comprehensive streamlined approach to procurement. The scope of our procurement management services includes: - Procurement strategy review, - Supply chain management - Contract negotiation - Process audit and - Monitoring vendor performance</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Alternative &amp; Renewable Power Solutions</h4>
                        <p class="mbr-text mbr-fonts-style display-7">We offer our customers sustainable solutions in the provision of seamless power for their business with focus on the environment. We provide a 24/7 generator set (100kva-1250kva) rental service for all uses including corporate endeavours, event planners and residential estates. We also have a strong in-house technical team for the effective handling of routine maintenance and repair of generator sets.</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features4 cid-rwpqFtPWlA" id="features4-f">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
<div>Building Repairs and Maintenance</div></h4>
                        <p class="mbr-text mbr-fonts-style display-7">This involves maintaining the organization’s buildings along with the building components and systems. The crux of this service is first, to create a good working/operating environment, second, to ensure occupational and operating safety, and third, to create an environment that engenders innovation and promotes productivity via the “feel-good” effect created. This service would both be preventive and reactive, with the reactive maintenance aspect reduced to the barest minimum. Activities to be performed would revolve around plumbing, HVAC, electrical/electronic works, painting amongst others.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Utility Maintenance and Management</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Through this service, utilities being employed - such as water and power (energy) systems – are kept at their optimum operating conditions. The key to achieving this would be by equating maintenance to delivering reliability. With this fully understood processes that ensure reliability of utility facilities would be put in place. In addition, the need to properly match consumption with production so as to appropriate the utilities optimally, will lead to proper definitions of utilities requirements and usage. This in turn will yield reduction in costs. Developed plans and procedures guide the operation of this service.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Space Management</h4>
                        <p class="mbr-text mbr-fonts-style display-7">This is the planning and allocation of space in order to effectively support business activities. The flow of work operations and the ability for two or more operations to synergise are taken into consideration along with the critical nature of certain work operations. All these variables taken into consideration will give birth to the space management plan and deployment of the plan.</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features4 cid-rwpqGnrtfe" id="features4-g">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Access Control and Security</h4>
                        <p class="mbr-text mbr-fonts-style display-7">In an increasing nature, access control has become important in the operation of organizations. There is a need to allow or restrict access to both staff and visitors. It is also imperative that intruders/trespassers are not allowed to gain access into the premises. This calls the use of Access Control Systems along with security being put in place. The nature of security personnel and equipment deployed would depend on the requirements and location of managed facilities.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Waste Management &amp; Cleaning</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Waste generation is inevitable, therefore, there is a need to properly manage the collection, disposal, and a times the recycling. Processes, plans and systems are put in place in order to manage the generated waste. Though a cleaning service may seem generalized, it should be appreciated that in order to achieve effective cleaning of a premises, a cleaning system that is meant solely for the building and its facilities is developed and positioned to deliver an environment that is clean, not withstanding time or period.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Building Reconstruction and Special Projects:</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Based on changing company needs, outlook and progression, there might be a need to reconstruct parts of a building or facility, be it externally or internally. This would involve the considerations of several factors, from engineering to cost issues. On the establishment of the requirements and sound consideration of the all issues and variables, a team is assembled to perform the work</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="footer4 cid-rwpg53cXeT mbr-reveal" id="footer4-b">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-3 col-sm-4">
                <div class="mb-3 img-logo">
                    <a href="https://mobirise.co/">
                        <img src="assets/images/logo211.png" alt="Mobirise">
                    </a>
                </div>
                <p class="mb-3 mbr-fonts-style foot-title display-7">HI - Tech</p>
                <p class="mbr-text mbr-fonts-style mbr-links-column display-7">
                    <a href="page2.html" class="text-white">About Us
</a>                    <br><a href="#" class="text-white">Services</a>
                    <br><a href="log in.html" class="text-white" target="_blank">Select a service &nbsp;</a><br><a href="contact us.html" class="text-white" target="_blank">Get In Touch</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-7">Other Services</p>
                <p class="mbr-text mbr-fonts-style foot-text display-7">Asset Management
<br>Move Management
<br>Energy Audit/Management
<br>Construction and Design Management
<br>Telecommunications and IT Management
<br>Risk Management
<br>Portfolio and Facility Planning
<br>Environmental and Safety Management
<br>Facilities Inventory<br><br></p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-7">
                    SUBSCRIBE
                </p>
                <p class="mbr-text mbr-fonts-style form-text display-7">
                    Get monthly updates and free resources.
                </p>
                <div class="media-container-column" data-form-type="formoid">
                   
                    <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="mDuARlA0jDVKoT7MPNvYjt61E1bR5xmXX2R4kkF1eBe4DtoXTAbjWBHKRLil6vxzltBfisZRvznj5kfXunzdXwOstTyvTjoc4FrSua1k36HHOTevG8iX52NFwMWHQrkY">
                        <div class="row form-inline justify-content-center">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                                    </div>
                        </div>
                        <div class="dragArea row form-inline justify-content-center">
                            <div class="col-auto  form-group " data-for="email">
                                <input type="email" name="email" placeholder="Email" data-form-field="Email" required="required" class="form-control input-sm input-inverse my-2 display-7" id="email-footer4-b">
                            </div>
                            <div class="col-auto  input-group-btn  m-2">
                                <button type="submit" class="btn btn-primary m-0 display-4">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="mb-4 mbr-fonts-style foot-title display-7">
                    CONNECT WITH US
                </p>
                <div class="social-list pl-0 mb-0">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        
                        
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-12 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 HI -TECH - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
  <script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/formoid/formoid.min.js' %}"></script>
  
  
{% endblock main %}